<card size="big">
  <div class="container">
    <h2>{{ state.title }}</h2>
    <form (onSubmit)="loginHanlder()">
      <cust-input
        *ngIf="userNameState.show"
        [label]="userNameState.label"
        [props]="userNameState.props"
        [validations]="userNameState.validations"
        (onLoad)="captureEmpIdController($event)"
      ></cust-input>
      <div class="actions">
        <!-- <cust-button type="submit">Login</cust-button> -->
        <button (click)="loginHanlder()" type="submit">Login</button>
      </div>
    </form>
  </div>
</card>
