:host {
  width: 100%;
  margin-bottom: 40px;
}
.flex-col {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.container {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 20px 20px 0 20px;
  &:not(:last-child) {
    border-bottom: 1px solid #333;
    margin-bottom: 20px;
  }
  .details {
    .title {
      margin: 0;
      color: var(--foreground-default);
      text-align: left;
      margin-bottom: 10px;
      cursor: pointer;
    }
    .bookmark {
      margin-left: 20px;
      font-size: 18px;
      cursor: pointer;
      &.marked {
        color: rgba(255, 98, 50, 0.9);
      }
    }
    .chips-container {
      display: flex;
      flex-direction: row;
      cust-chip {
        margin-right: 10px;
        margin-bottom: 10px;
      }
      .date {
        align-self: center;
        margin-bottom: 10px;
      }
    }
    margin-right: 40px;
  }
  .actions {
    display: flex;
    align-items: center;
    cursor: pointer;
    .vote-button {
      font-size: 24px;
      &.up {
        color: rgba(94, 231, 94, 0.9);
      }
      &.down {
        color: rgba(243, 119, 82, 0.9);
      }
      &:not(:last-child) {
        margin-right: 10px;
      }
    }
    .count {
      margin-right: 10px;
    }
  }
}
.desc {
  flex-direction: column;
  h2 {
    margin: 0;
  }
}
