<card>
  <div class="container" *ngIf="state$ | async as state">
    <div class="details">
      <h2 class="title">
        {{ state.title }} <fa-icon class="bookmark" [icon]="bookMark"></fa-icon>
      </h2>
      <div class="chips-container">
        <cust-chip *ngFor="let tag of state.tags">{{ tag }}</cust-chip>
      </div>
    </div>
    <div class="actions">
      <fa-icon class="vote-button" [icon]="upVote"></fa-icon>
      <fa-icon class="vote-button" [icon]="downVote"></fa-icon>
    </div>
  </div>
</card>
