<div class="top-container">
  <h2 class="title">All Challenges</h2>
  <div class="sort-cont">
    <label for="sortSelect">Sort by: </label>
    <select name="sortSelect" id="sort-select" (input)="changeSortFun($event)">
      <option value="votesDesc" selected>By Votes</option>
      <option value="votesAsc">By Votes ascending</option>
      <option value="dateAsc">Older</option>
      <option value="dateDesc">New</option>
    </select>
  </div>
</div>
<hr />
<br />
<ul>
  <ng-container *ngIf="challenges.length > 0; else noChallanges">
    <li *ngFor="let challenge of challenges">
      <challenge-card
        [challengeId]="challenge.id"
        (dblclick)="openChallenge(challenge.id)"
      ></challenge-card>
    </li>
  </ng-container>
  <ng-template #noChallanges>
    <h3>No Challenges to Show</h3>
  </ng-template>
</ul>
