<header>
  <h1 class="logo">ScripBox Hackathon</h1>
  <nav>
    <ul>
      <li>
        <a>Home</a>
      </li>
      <li>
        <a>My-Challenges</a>
      </li>
    </ul>
    <ul *ngIf="isLoggedIn$ | async" class="user-actions">
      <li>
        <a (click)="toggleTheme($event)">Theme</a>
      </li>
      <li>
        <a>Account</a>
      </li>
      <li>
        <a>Logout</a>
      </li>
    </ul>
  </nav>
  <!-- 
        <div class="icon-container">
            <img src="assets/person-circle.svg" alt="my-account">
        </div>
        <div class="icon-container">
            <img src="assets/logout.svg" alt="logout">
        </div> 
    -->
</header>
