<header>
  <h1 class="logo" routerLinkActive="active" routerLink="/home">
    ScripBox Hackathon
  </h1>
  <nav>
    <ul>
      <li>
        <a routerLinkActive="active" routerLink="/challenges/list">Home</a>
      </li>
      <li>
        <a
          *ngIf="isLoggedIn$ | async"
          routerLinkActive="active"
          routerLink="/employee/challenges"
          >My-Challenges</a
        >
      </li>
      <li>
        <a
          *ngIf="!(isLoggedIn$ | async)"
          routerLinkActive="active"
          routerLink="/login"
          >Login</a
        >
      </li>
    </ul>
    <ul *ngIf="isLoggedIn$ | async" class="user-actions">
      <li>
        <a (click)="toggleTheme($event)">Theme</a>
      </li>
      <li>
        <a routerLinkActive="active" routerLink="/employee/info">Account</a>
      </li>
      <li>
        <a (click)="onLogOut($event)">Logout</a>
      </li>
    </ul>
  </nav>
</header>

<!-- 
  <div class="icon-container">
      <img src="assets/person-circle.svg" alt="my-account">
  </div>
  <div class="icon-container">
      <img src="assets/logout.svg" alt="logout">
  </div> 
-->
