<header>
  <h1 class="logo" routerLink="/home">ScripBox Hackathon</h1>
  <nav>
    <ul>
      <li>
        <a routerLink="/home">Home</a>
      </li>
      <li>
        <a *ngIf="isLoggedIn$ | async" routerLink="/home">My-Challenges</a>
      </li>
      <li>
        <a *ngIf="!(isLoggedIn$ | async)" routerLink="/login">Login</a>
      </li>
    </ul>
    <ul *ngIf="isLoggedIn$ | async" class="user-actions">
      <li>
        <a (click)="toggleTheme($event)">Theme</a>
      </li>
      <li>
        <a routerLink="/account">Account</a>
      </li>
      <li>
        <a (click)="onLogOut($event)">Logout</a>
      </li>
    </ul>
  </nav>
  <!-- 
        <div class="icon-container">
            <img src="assets/person-circle.svg" alt="my-account">
        </div>
        <div class="icon-container">
            <img src="assets/logout.svg" alt="logout">
        </div> 
    -->
</header>
