.flex {
  /* display: flex; */
  /* display: inline; */
  display: flex;
  width: 500px;
  background-color: #c3c3c3;
}
.size {
  width: 50px;
  height: 50px;
  border: 1px solid #333;
  margin: 10px;
}
.size:nth-child(odd) {
  background-color: red;
}
.size:nth-child(even) {
  background-color: green;
}
.grow {
  flex-grow: 1;
}
.grow2 {
  flex-grow: 2;
}

@media only screen and (min-width: 400px) {
  .flex {
    flex-direction: column;
  }
}
