<h2 class="title">My Challenges</h2>
<hr />
<br />
<ul *ngIf="challengeIds.length > 0; else newChallenge">
  <li *ngFor="let id of challengeIds">
    <challenge-card
      [challengeId]="id"
      (dblclick)="openChallenge(id)"
    ></challenge-card>
  </li>
</ul>

<ng-template #newChallenge>
  <div class="flexCenter">
    <cust-button (click)="onAddNewChallenge()">Add a new challenge</cust-button>
  </div>
</ng-template>

<cust-button
  *ngIf="challengeIds.length !== 0"
  id="new-challenge-button"
  (click)="onAddNewChallenge()"
  shape="round"
  >+</cust-button
>

<jw-modal id="add-a-new-challenge-container" size="max">
  <new-challenge
    *ngIf="showNewOpenModal"
    [closeFn]="onCancelAddingNewChallenge"
  ></new-challenge>
</jw-modal>
