<h2>Account Info</h2>
<hr />
<br />
<card>
  <div class="details" *ngIf="empData$ | async as empData">
    <h3>
      EmployeeId: <span id="employee-id">{{ empData.empId }}</span>
    </h3>
    <hr />
    <br />
    <ul class="my-links">
      <li>
        <a routerLink="/employee/challenges"
          >My Challenges ({{ empData.myChallenges.length }})</a
        >
      </li>
      <li>
        <a routerLink="/employee/challenges"
          >My BookMarks ({{ empData.bookMarkedChallenges.length }})</a
        >
      </li>
      <li>
        <a routerLink="/employee/challenges"
          >My Up Voted ({{ empData.votedChallenges.length }})</a
        >
      </li>
      <li>
        <a routerLink="/employee/challenges"
          >My Down Up Voted ({{ empData.downVotedChllenges.length }})</a
        >
      </li>
    </ul>
  </div>
</card>
