@import "variables.scss";
@import "mixins.scss";

#whole-app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  main {
    margin: 40px 0;
    flex-grow: 1;
    display: flex;
    justify-content: center;
  }
}
