<div class="input-group" [class.error]="showError">
  <label [for]="props.id">{{ label }}</label>
  <input
    *ngIf="!showTextArea"
    [type]="props.type"
    [formControl]="inputController"
    (focusout)="foucsOutHanlder()"
    (keydown.enter)="handleEnter()"
  />
  <textarea
    *ngIf="showTextArea"
    [formControl]="inputController"
    (focusout)="foucsOutHanlder()"
  ></textarea>
  <p class="error-message">{{ errorMessage }}</p>
</div>
